.search-result-container {
  /* padding-left: 16rem;
  padding-right: 16rem; */
  background-color: #f2f2f2;
}

.search-result-container .pickup-picker {
  height: 10.6rem;
}

.pickup-picker .pickup-point {
  background-color: #f2f2f2;
}

.search-result-container .title {
  font-size: 3rem;
  font-weight: 700;
}

.motorhomes .motorhome .price .unit {
  color: #ae3836;
  font-size: 3rem;
  font-weight: 700;
}

.motorhomes .motorhome .book-button {
  color: white;
  background-color: #ae3836;
  border-radius: 0.6rem;
  border: 0;
  font-weight: 700;
  font-size: 2rem;
  width: 13.2rem;
  height: 5.3rem;
}

@media (max-width: 480px) {
  .search-result-container {
    padding: 0;
  }

  .search-result-container .pickup-picker {
    height: 167px;
    margin: 0 40px;
    /* width: 308px; */
  }

  .search-result-container .title {
    display: none !important;
  }
}

@media (max-width: 1400px) and (min-width: 481px) {
  .search-result-container {
    margin: 0;
    padding: 0rem 6rem;
  }
}

@media (max-width: 1919px) and (min-width: 1401px) {
  .search-result-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}